* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  background-color: azure;
}

.stripe {
  height: 6px;
  background: linear-gradient(to right, yellow, yellow 20%, red 20%, red 40%, rgb(13, 133, 2) 40%, rgb(13, 133, 2) 60%, blue 60%, blue 80%, rgb(199, 6, 183) 80%, rgb(199, 6, 183));
  margin-bottom: 20px;
}

.me {
  padding: 10px;
  border-radius: 20%;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 15px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

#about {
  margin: auto;
  max-width: 600px; /* Changed width to max-width */
  text-align: center;
}

#projects {
  margin: auto;
}

h3 {
  padding: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 100%; /* Added max-width */
  margin: 0 auto;
}

.project-image {
  width: 100%;
  grid-column: span 2;
}

.project-image2 {
  width: 100%;
}

.stripe2 {
  height: 6px;
  background: linear-gradient(to right, yellow, yellow 20%, red 20%, red 40%, rgb(13, 133, 2) 40%, rgb(13, 133, 2) 60%, blue 60%, blue 80%, rgb(199, 6, 183) 80%, rgb(199, 6, 183));
  margin-top: 20px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  text-align: center;
  padding: 11px;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
}

.container:first-child {
  margin-right: 20px;
  flex: 0.1;
}

.contact-links {
  margin-left: 10px;
  color: white;
}

/* Default styles */

/* Mobile */
@media (min-width: 320px) {
  /* Styles for mobile devices */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablet devices */
}

/* Desktop */
@media (min-width: 1024px) {
  /* Styles for desktop devices */
  nav {
    height: 80px;
  }

  label.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 15px;
  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li {
    line-height: 80px;
    margin: 0 5px;
  }

  h2 {
    padding: 11px;
  }
}
