* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Righteous', cursive;
  background-color: azure;
}

.stripe {
  height: 6px;
  background: linear-gradient(to right, yellow, yellow 20%, red 20%, red 40%, rgb(13, 133, 2) 40%, rgb(13, 133, 2) 60%, blue 60%, blue 80%, rgb(199, 6, 183) 80%, rgb(199, 6, 183));
  margin-bottom: 20px;
}

nav {
  background: black;
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 15px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

#about {
  margin: auto;
  width: 600px;
  text-align: center;
}

#projects{
  margin: auto;
}
h3{
    padding: 8px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.project-image {
  width: 100%;
  grid-column: span 2;
}

.project-image2 {
  width: 100%;
}

.stripe2 {
  height: 6px;
  background: linear-gradient(to right, yellow, yellow 20%, red 20%, red 40%, rgb(13, 133, 2) 40%, rgb(13, 133, 2) 60%, blue 60%, blue 80%, rgb(199, 6, 183) 80%, rgb(199, 6, 183));
  margin-top: 20px;
}
footer {
  height: 50px;
  background-color: black;
}

h2 {
  text-align: center;
  padding: 11px;
}
   
.contacts{
  text-align: left;
  color: white;
}